* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', 
    Arial, sans-serif
}

nav {
    height: 80px;
    background: #003135;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) /2);
}

.logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

nav a {
    text-decoration: none;
    color: #ffff;
    padding: 0 1.5rem;
}

nav a:hover {
    color: #9b9b9b;
}

.body {
    background: #024950;
}

.body-container {
    background: #003135;
    color: #fff;

}

.body-container h1 {
    font-size: 50px;
    align-items: center;
}

.body-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: #ffffff;
    background: #024950;
}

.body-center h1 {
margin-bottom: 1rem;
font-size: 5rem;
color: #fff;
}

.body-center h2 {
margin-bottom: 1rem;
font-size: 2rem;
color: #fff;
align-items: center;
}

.body-left {
    background-color: #024950;
    color: #fff;
    height: 70vh;
}

button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #fff;
    background: #00818d;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: -1px 0 5px 5px rgba(0, 0, 0, 0.1000);
}

button:hover {
    color: rgb(0, 0, 0);
    background: #00818d;
}

.body-left, h1 {
text-align: center;
font-size: 5rem;
}

.bodyleft,  iframe {
    height: 400px;
    width: 1000px;
object-position: center;
}

.body-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.site-footer p {
    background: #003135;
    color: #fff;
    text-align: start;
    padding-left: 20px;
    height: 25px;
}

.site-footer a p {
    color: #fff;
    text-align: end;
    padding-right: 20px; 
}


@media only screen and (max-width:768px) {
    .container1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .container2 {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media only screen and (max-width:511px) {
    .container1 {
        padding: 0;
        grid-template-columns: repeat(1, 1fr);
    }

    .container2 {
        padding: 0;
        grid-template-columns: repeat(1, 1fr);
    }

    .body-left h1 {
        font-size: 50px;
    }
}