* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', 
    Arial, sans-serif
}

nav {
    height: 80px;
    background: #003135;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) /2);
}

.logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

nav a {
    text-decoration: none;
    color: #ffff;
    padding: 0 1.5rem;
}

nav a:hover {
    color: #9b9b9b;
}

section {
    background: #024950;
    height: 799px;
}

.body {
    background: #024950;
    font-size: 3rem;
}


.header {
    background: #024950;
    font-size: 3rem;
}

.header h1{
    color: #fff;
    position: absolute;
    top: 100px; left: 50px;
}

.body h1 {
    color: #fff;
}
.container1 {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
    place-items: center;
    height: 50vh;
    margin: auto;
    padding: 20px;
    background: #024950;
}

.box1 {
    background: white;
    text-align: center;
    box-shadow: -1px 0 5px 5px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 300px; left: 200px;
    border-radius: 200px;
    height: 250px;
    width: 350px;
}

.container1 img {
    padding: 15px;
    width: 140px;
    height: 140px;
    border-radius: 200px;
}



.text1 h1 {
    font-size: 2rem;

}

.text1 h2 {
    font-size: 1rem;
    line-height: 18px;
    margin: 10px 0 10px 0;
}

.container2 {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
    place-items: center;
    height: 50vh;
    margin: auto;
    padding: 20px;
    background: #024950;
}

.box2 {
    background: white;
    text-align: center;
    box-shadow: -1px 0 5px 5px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 300px; left: 600px;
    border-radius: 200px;
    height: 250px;
    width: 350px;
}

.container2 img {
    padding: 15px;
    width: 140px;
    height: 140px;
    border-radius: 200px;
}



.text2 h1 {
    font-size: 2rem;

}

.text2 h2 {
    font-size: 1rem;
    line-height: 18px;
    margin: 10px 0 10px 0;
}

.container3 {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
    place-items: center;
    height: 50vh;
    margin: auto;
    padding: 20px;
    background: #024950;
}

.box3 {
    background: white;
    text-align: center;
    box-shadow: -1px 0 5px 5px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 300px; left: 1000px;
    border-radius: 200px;
    height: 250px;
    width: 350px;
}

.container3 img {
    padding: 15px;
    width: 140px;
    height: 140px;
    border-radius: 200px;
}



.text3 h1 {
    font-size: 2rem;

}

.text3 h2 {
    font-size: 1rem;
    line-height: 18px;
    margin: 10px 0 10px 0;
}

.container4 {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
    place-items: center;
    height: 50vh;
    margin: auto;
    padding: 20px;
    background: #024950;
}

.box4 {
    background: white;
    text-align: center;
    box-shadow: -1px 0 5px 5px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 300px; left: 1400px;
    border-radius: 200px;
    height: 250px;
    width: 350px;
}

.container4 img {
    padding: 15px;
    width: 140px;
    height: 140px;
    border-radius: 200px;
}



.text4 h1 {
    font-size: 2rem;

}

.text4 h2 {
    font-size: 1rem;
    line-height: 18px;
    margin: 10px 0 10px 0;
}

footer {
    height: 5vh;
}

.site-footer {
    height: 5vh;
    background: #003135;
}

.site-footer p {
    background: #003135;
    color: #fff;
    text-align: start;
    padding-left: 20px;
    height: 25px;
}

.site-footer a p {
    color: #fff;
    text-align: end;
    padding-right: 20px; 
}

@media only screen and (max-width:768px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width:511px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}