* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    background: #024950;
    display: flex;
    flex-direction: column;
}

nav {
    height: 80px;
    background: #003135;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem calc((100vw - 1300px) / 2);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

.nav-items a {
    margin: 0 1rem;
    color: #fff;
    text-decoration: none;
}

.nav-items a:hover {
    color: #9b9b9b;
}

main {
    height: 100vh;
    background: #024950;
    display: flex;
    justify-content: center; /* Horizontální vycentrování */
    align-items: center;     /* Vertikální vycentrování */
}

.container, .container2 {
    padding: 20px;
    flex: 0 0 auto; /* Zamezí natahování kontejnerů */
}

.box, .box2 {
    background: #003135;
    color: white;
    text-align: center;
    box-shadow: -1px 0 5px 5px rgba(0, 0, 0, 0.0999);
    border-radius: 50px;
    padding: 30px; /* Větší vnitřní mezera */
    max-width: 700px; /* Větší maximální šířka */
    width: 80%; /* Větší šířka */
    margin: 15px; /* Mírně větší mezera mezi boxy */
}


.box img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.box2 img {
    width: 55%;
    height: auto;
    border-radius: 10px;
}

.text, 
.text2{
    padding: 20px;   
}

.text h3,
.text2 h3 {
    font-size: 1.2rem;
}

.text p,
.text2 p {
    font-size: 1rem;
    margin: 10px 0;
}

.box button,
.box2 button {
    background: #00818d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    padding: 10px 20px;
}

.box button:hover,
.box2 button:hover {
    color: rgb(0, 0, 0);
}

/* FOOTER */
.site-footer {
    height: 6vh;
    background: #003135;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    width: 100%; 
}

.site-footer p {
    color: #fff;
}

/* RESPONSIVITA */
@media only screen and (max-width: 1024px) {
    .body-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .body-left {
        text-align: center;
    }

    .body-left h1 {
        font-size: 4rem;
    }

    .body-left p {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        height: auto;
        padding: 1rem;
    }

    nav a {
        padding: 0.5rem;
    }

    .body-left h1 {
        font-size: 3rem;
    }

    .body-left p {
        font-size: 1.2rem;
    }

    .container, .container2 {
        max-width: 390px;
        display: grid;
    }

    .box, .box2 {
        display: grid;
        align-items: center;
        max-width: 390px;
    }
}

@media only screen and (max-width: 480px) {
    .logo {
        font-size: 1.2rem;
    }

    nav a {
        padding: 0.5rem;
        font-size: 0.9rem;;
    }

    .body-left h1 {
        font-size: 2.5rem;
    }

    .body-left p {
        font-size: 1rem;
    }

    .text2 h3 {
        font-size: 1rem;
    }

    .text2 p {
        font-size: 0.9rem;
    }

    .button2 button {
        font-size: 0.8rem;
        padding: 0.5rem;
    }

    .container2 {
        flex-direction: column;
        align-items: center;
    }
}