* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

nav {
    height: 80px;
    background: #003135;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

.nav-items a {
    margin: 0 1rem;
    color: #fff;
    text-decoration: none;
}

.nav-items a:hover {
    color: #9b9b9b;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #024950;
    padding: 2rem;
    min-height: 100vh;
    height: auto;
    text-align: center;
}

main h1 {
    font-size: 2.5rem;
    color: #9b9b9b;
}

main h2 {
    font-size: 4rem;
    color: #fff;
}

main p {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #9b9b9b;
    margin-bottom: 1.5rem;
}

img {
    width: 50%;
    height: auto;
    margin: 1rem 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    max-width: fit-content;
    max-height: fit-content;
    padding: 15px 50px 15px 50px;
    font-size: 1rem;
    border: none;
    color: #fff;
    background: #00818d;
    border-radius: 25px;
    cursor: pointer;
    margin: 5px 0px 0px 10px;
    align-content: center;
}

button:hover {
    background: #006a73;
}

.container {
    background-color: #003135;
    border-radius: 25px;
    width: 800px;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 20px;
    display: grid;
}

.container h1 {
    font-size: 2.5rem;
    color: white;
    padding-top: 20px;
}

.container-img {
    align-items: center;
}

.container-content {
    text-align: center;
    color: #fff;
}

.container-content p {
    color: white;
}

.site-footer {
    background: #003135;
    padding: 1rem;
    color: #fff;
    text-align: center;
}

.site-footer a p {
    color: #fff;
    text-decoration: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
    /* Slideshow Styles */
    .slideshow-container {
        max-width: 100%;
        padding: 0 10px;
    }

    .mySlides img {
        height: 300px; /* Menší výška pro menší obrazovky */
    }

    .prev, .next {
        position: absolute;
        top: 80%;
    }

    /* Adjust the position of the prev and next buttons for mobile */
    .prev {
        left: 4px; /* Mírně upravená pozice pro mobilní zařízení */
    }

    .next {
        right: 4px; /* Mírně upravená pozice pro mobilní zařízení */
    }

    /* Responsivní pro tečky */
    .dots {
        padding: 10px 0;
    }

    /* Hlavní text */
    main h1 {
        font-size: 1.8rem;
    }

    main h2 {
        font-size: 2.5rem;
    }

    button {
        padding: 0.8rem 1.5rem;
        font-size: 0.9rem;
    }
}
